    .ordem-compra {
        margin-top: 50px;
        margin-bottom: 120px
    }
    
    input.ng-invalid.ng-touched {
        border: 1px solid red
    }
    
    select.ng-invalid.ng-touched {
        border: 1px solid red
    }
    
    input.ng-valid.ng-touched {
        border: 1px solid green
    }
    
    select.ng-valid.ng-touched {
        border: 1px solid green
    }